<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIURI" value="http://localhost:5111" />
    <add key="APIKEY" value="" />

    <add key="IMGSVRIP" value="http://localhost:25400" />

    <add key="SITENUM" value="9001" />
    <add key="GROUPNUM" value="2" />
    <add key="APSNUM" value="201" />
    <add key="APSNAME" value="무인정산" />
    <add key="APSIP" value="127.0.0.1" />
    <add key="EDGESERVICEUSE" value="true" />
    <add key="EDGESERVICEURL" value="http://localhost:5200" />

    <add key="ParkingName" value="주차장" />
    <add key="ParkingAddress" value="" />
    <add key="ParkingPhone" value="" />
    <add key="BusinessNumber" value="" />
    <add key="OwnerName" value="" />

    <add key="BARRIERFREE" value="true" />
    <add key="JUNGKIMODE" value="false" />
    <add key="NOCAROUTGTAE" value="true" />

    <!-- 15 24  -->
    <add key="APSSCREENMODE" value="15" />
    <!-- 0:사전정산   1:출구정산  -->
    <add key="APSMODE" value="1" />
    <!-- smatro:1   kicc:2  -->
    <add key="VANTYPE" value="1" />

    <!-- JXComm 로컬  -->
    <add key="HOSTUSE" value="false" />
    <add key="HOSTIP" value="127.0.0.1" />
    <add key="HOSTPORT" value="29200" />

    <add key="LPRUSE" value="true" />
    <add key="LPRPORT" value="29501" />

    <add key="FTPIP"   value="127.0.0.1" />
    <add key="FTPID"   value="" />
    <add key="FTPPASS" value="" />

    <!--  JPXLpr 장치번호와 동기 시킬것  -->
    <add key="LPRBASENUM" value="400" />

    <!--  true:풀컷팅 false:하프커팅  -->
    <add key="CUTMODE" value="false" />
    <add key="DEBUGMODE" value="true" />
    <!-- 300, 300 or 1148,50  -->
    <add key="DEBUGPOS" value="1148,50" />

    <add key="SOUNDREPEATTIME" value="120" />
    <!-- 차량번호 화면 자동 취소 시간(초) -->
    <add key="AUTOCANCLETIME1" value="120" />
    <!-- 차량번호 선택 자동 취소 시간(초) -->
    <add key="AUTOCANCLETIME2" value="120" />
    <!-- 일반요금정산 자동 취소 시간(초) -->
    <add key="AUTOCANCLETIME3" value="240" />
    <!-- 정기연장정산 자동 취소 시간(초) -->
    <add key="AUTOCANCLETIME4" value="240" />
    <!-- 영수증 자동 취소 시간(초) -->
    <add key="AUTOCANCLETIME5" value="60" />
    <!-- KICC 일때 신용카드 삽입 취소시간 -->
    <add key="KICCCANCELTIME" value="180" />
    <!-- BF 자동 설명 시간 -->
    <add key="SOUNDREPEATTIME" value="120" />

    <add key="MAINPORT" value="COM2" />
    <add key="MAINSPEED" value="19200" />

    <add key="PRINTPORT" value="COM3" />
    <add key="PRINTSPEED" value="19200" />
    <add key="PRINTPAPER" value="60" />

    <add key="TDPORT" value="COM4" />
    <add key="TDSPEED" value="38400" />

    <add key="CDPORT" value="COM1" />
    <add key="CDSPEED" value="115200" />
    <add key="SMTERMID" value="pcuc00012m" />

    <add key="LDMIP1" value="" />
    <add key="LDMPORT1" value="35000" />
    <add key="LDMIP2" value="" />
    <add key="LDMPORT2" value="35000" />
    <add key="LDMIP3" value="" />
    <add key="LDMPORT3" value="35000" />
    <add key="LDMIP4" value="" />
    <add key="LDMPORT4" value="35000" />

    <add key="ILDMNUM" value="1" />
    <add key="OLDMNUM" value="3" />

  </appSettings>
</configuration>
