<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SITENUM" value="9001" />
		<add key="GROUPNUM" value="2" />
		<add key="EDGESERVICEHOST" value="127.0.0.1" />
		<add key="EDGESERVICEPORT" value="29200" />
		<add key="BASENUM"   value="401" />
		<add key="DUMMYTEST" value="true" />
		<add key="DEBUGMODE" value="true" />
	</appSettings>
</configuration>
