<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EdgeServiceBaseUrl" value="http://localhost:5200/" />
    <add key="WatchPath" value="D:\LPR\IMAGE" />
    <add key="ServerUrl" value="http://localhost:5400/api/image/upload" />
    <add key="ScanInterval" value="500" />
    <add key="ExtList" value="*.jpg;*.jpeg" />
  </appSettings>
</configuration>
